
h1, h2 {
  color: red;
  dsiplay: inline;
}

.container{
background-image: url("../images/Zabelin.png");
background-size: 100%;
border: 1px solid black;
width: 100%;
height:700px;
/*display:flex;
justify-content: space-around;
align-items: center;*/
}
h1{
  font-size: 75px;
  text-align: center;
}
h3{
  color: white;
}
.martiancontainer{
  display: inline;
    position: absolute;
    left: 160px;
    /*border: 2px solid white;*/
    width: 200px;
    height: 250px;
    text-align: center;

}
.humancontainer{
  display: inline;
    position: absolute;
    right: 160px;
    /*border: 2px solid white;*/
    width: 200px;
    height: 250px;
    text-align: center;
}
.martiancard{
  /*border: 2px solid red;*/
  margin-top: 14px;
  height: 300px;
  background-image: url("../images/Swampler by Katarzyna Zalecka.jpg");
  background-size: 119%;
  /*visibility:visible;*/
}

.humancard{
  margin-top: 14px;
  height: 300px;
  background-image: url("../images/Swampler by Katarzyna Zalecka.jpg");
  background-size: 119%;
  /*visibility:visible;*/
}
.startcontainer{
  position: absolute;
      width: 182px;
      /*background-color: black;*/
      /*height: 53px;
      bottom: 258px;
      left: 622px;*/
      height: 53px;
      bottom: 273px;
      left: 631px;
}
.startbutton{
  position: absolute;
      width: 182px;
      background-color: black;
      height: 53px;
      left: 2px;
      bottom: 20px;
      right: 163px;
      border: 1px solid white;

.start{
  color: red;
    font-family: serif;
}
/*.nextcardcontainer{
  position: absolute;
    width: 182px;
    /* background-color: black; */
    height: 53px;
    bottom: -250px;
    right: 163px;
    border: 1px solid white;*/
}
.nextcardbutton{
    position: absolute;
    background-color: lightblue;
    right: 177px;
    bottom: 28px;
    width: 161px;
}
.winnerloser{
  visibility: hidden;
  /*border: 1px solid black;*/
    width: 520px;
    height: 400px;
    position: absolute;
    left: 468px;
    top: 156px;
    background-color: red;
    font-size: 39px;
}
#winnerloser{
  text-align: center;
  color: black;
  font-family:fantasy;
}
.martianscore{
  color:white;
}
.humanscore{
color:white;
}
#martiansdrawcard{
  font-family: fantasy;
    color: grey;
    font-size: 133px;
    position: absolute;
    left: 56px;
    bottom: -254px;
}
#humansdrawcard{
  font-family: fantasy;
    color: grey;
    font-size: 133px;
    position: absolute;
    right: 63px;
    bottom: -249px;
}
